
#home {
  .hero-image {
    
  }
  .hero-text {
    h1, p {
      opacity: 0;
      animation: 
        fade-in 3s ease-out forwards,
        drop-in 5s ease-out forwards;
    }

    p {
      animation-delay: 2s;
    }

    div {
      opacity: 0;
      animation: 
        fade-in 3s ease-out forwards;
      animation-delay: 5s;
    }
  }
}

@keyframes drop-in {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fade-in {
  0% { 
    opacity: 0;
  }
  100% {
    opacity: 1;
   
  }
}