@use "sass:color";

$dark-theme: false;

/*
 *  base all colours on the primary
 */
$primary: #e2a030;
$primary-light: adjust-color($primary, $lightness: 40%);
$primary-dark: adjust-color($primary, $lightness: -30%);

$complement: complement($primary);

$accent: adjust-color($complement, $lightness: 30%);

$neutral: adjust-color($primary, $saturation: -70%, $lightness: 20%);
$neutral-light: adjust-color($primary, $saturation: -70%, $lightness: 40%);
$neutral-dark: adjust-color($primary, $saturation: -70%);

$background: adjust-color($primary, $lightness: 44%);

/*
 *  font colours
 */

$font-primary: #090909;
$font-code: #555;

$divider-color: adjust-color($complement, $lightness: 30%);

/*
 * dark theme
 */
@if ($dark-theme) {
  $primary-light: adjust-color($primary, $lightness: -40%);
  $accent: adjust-color($complement, $lightness: -30%);
  $background: adjust-color($primary, $lightness: -44%);
  $neutral: adjust-color($primary, $saturation: -70%, $lightness: -20%);
  $neutral-light: adjust-color($primary, $saturation: -70%, $lightness: -40%);
  $font-primary: #f5f5f5;
  $font-code: #aaa;
  $divider-color: adjust-color($complement, $lightness: 70%);
}

/*
 *  Colours for specific components
 */



$colors: (
  primary: $primary,
  secondary: $complement,
  accent: $accent,
  neutral: $neutral,
  text: $font-primary,
);

@each $name, $color in $colors {
  .#{$name} {
    color: $color;
  }
}

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
}

.bg-neutral-light {
  background-color: $neutral-light;
}

html, body {
  color: $font-primary;
  background-color: $background;
}

code {
  color: $font-code;
}