@use "../theme" as *;

@mixin golden-grid {
  display: grid;
  @include on-desktop {
    grid-template-columns: $golden-ratio-left +fr $golden-ratio + fr;
  }
}

.golden-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: $golden-ratio + fr 1fr;
  > div {
    background-color: $primary;
    flex-grow: 1;
  }
  :nth-child(2) {
    background-color: adjust-color($primary, $lightness: 10%);
  }
}