@use "../helpers/" as *;
@use "../theme" as *;

header nav {
  background-color: $primary-light;
  min-height: 2rem;
}

aside nav  {
  text-align: center;

  ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: $padding / 2;

    @include on-desktop {
      display: block;
    
      & li + li {
        padding-top: $nav-item-padding;
      }
    }
  }
}

nav {
  a, a:hover, a:focus, a:active {
    text-decoration: underline;
    color: inherit;
  }
}