@use "../helpers/" as *;
@use "../theme" as *;

.hero-image {
  &.shell {
    @include faded-background-image(255, 0.7, "../images/golden-shell.jpg");
  }
  &.sunflower {
    @include faded-background-image(255, 0.7, "../images/sunflower.jpg");
  }
  @include background-image-cover;
  position: relative;

  .hero-text {
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
    color: $primary;
  }
}