*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

ul:not([role="list"]) {
  list-style: none;
  padding: 0;
}

a:not([role="link"]) {
  text-decoration: none;
}