/*
 *  solid-gradient 
 *  
 *  Creates an even gradient image to either 
 *  darken or lighten a background image
 *
 */
/*
 *  base all colours on the primary
 */
/*
 *  font colours
 */
/*
 * dark theme
 */
/*
 *  Colours for specific components
 */
.primary {
  color: #e2a030;
}

.secondary {
  color: #3072e2;
}

.accent {
  color: #b6cdf5;
}

.neutral {
  color: #c0bdb8;
}

.text {
  color: #090909;
}

.bg-primary {
  background-color: #e2a030;
}

.bg-secondary {
  background-color: #3072e2;
}

.bg-accent {
  background-color: #b6cdf5;
}

.bg-neutral {
  background-color: #c0bdb8;
}

.bg-text {
  background-color: #090909;
}

.bg-neutral-light {
  background-color: #f0efee;
}

html, body {
  color: #090909;
  background-color: #fefaf5;
}

code {
  color: #555;
}

html, body {
  font-family: "Gentium Plus", serif;
}

a, li, p {
  font-family: "Open Sans", sans-serif;
}

code {
  font-family: "Source Code Pro", monospace;
}

.heading-accent {
  width: max-content;
  border-bottom: 2px solid #b6cdf5;
}

ul[role=list] li + li {
  padding-top: 1rem;
}

blockquote {
  border-left: 8px solid #b6cdf5;
  margin: 1rem 0;
  padding: 1rem 40px 1.618rem;
}

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100vh;
  margin: 0;
  scroll-behavior: smooth;
}

ul:not([role=list]) {
  list-style: none;
  padding: 0;
}

a:not([role=link]) {
  color: inherit;
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.v-center {
  margin-block: auto;
}

.center {
  margin-inline: auto;
}

.vh-center {
  margin: auto;
}

.full-width {
  width: 100vw;
}

.full-width-less-padding {
  width: calc(100vw - 4rem);
}

.full-height {
  height: 100%;
}

.full-screen {
  height: 100vh;
}

.half-screen {
  height: 50vh;
}

.title-max {
  max-width: 18ch;
}

.up-20 {
  transform: translateY(-20%);
}

.padding-none {
  padding: 0;
}

.padding-xxs {
  padding: 0.25rem;
}

.padding-xs {
  padding: 0.5rem;
}

.padding-sm {
  padding: 1rem;
}

.padding-md {
  padding: 2rem;
}

.padding-lg {
  padding: 4rem;
}

.padding-xl {
  padding: 8rem;
}

.padding-xxl {
  padding: 16rem;
}

.padding-left-none {
  padding-left: 0;
}

.padding-left-xxs {
  padding-left: 0.25rem;
}

.padding-left-xs {
  padding-left: 0.5rem;
}

.padding-left-sm {
  padding-left: 1rem;
}

.padding-left-md {
  padding-left: 2rem;
}

.padding-left-lg {
  padding-left: 4rem;
}

.padding-left-xl {
  padding-left: 8rem;
}

.padding-left-xxl {
  padding-left: 16rem;
}

.padding-right-none {
  padding-right: 0;
}

.padding-right-xxs {
  padding-right: 0.25rem;
}

.padding-right-xs {
  padding-right: 0.5rem;
}

.padding-right-sm {
  padding-right: 1rem;
}

.padding-right-md {
  padding-right: 2rem;
}

.padding-right-lg {
  padding-right: 4rem;
}

.padding-right-xl {
  padding-right: 8rem;
}

.padding-right-xxl {
  padding-right: 16rem;
}

.padding-top-none {
  padding-top: 0;
}

.padding-top-xxs {
  padding-top: 0.25rem;
}

.padding-top-xs {
  padding-top: 0.5rem;
}

.padding-top-sm {
  padding-top: 1rem;
}

.padding-top-md {
  padding-top: 2rem;
}

.padding-top-lg {
  padding-top: 4rem;
}

.padding-top-xl {
  padding-top: 8rem;
}

.padding-top-xxl {
  padding-top: 16rem;
}

.padding-bottom-none {
  padding-bottom: 0;
}

.padding-bottom-xxs {
  padding-bottom: 0.25rem;
}

.padding-bottom-xs {
  padding-bottom: 0.5rem;
}

.padding-bottom-sm {
  padding-bottom: 1rem;
}

.padding-bottom-md {
  padding-bottom: 2rem;
}

.padding-bottom-lg {
  padding-bottom: 4rem;
}

.padding-bottom-xl {
  padding-bottom: 8rem;
}

.padding-bottom-xxl {
  padding-bottom: 16rem;
}

.margin-none {
  padding: 0;
}

.margin-xxs {
  padding: 0.25rem;
}

.margin-xs {
  padding: 0.5rem;
}

.margin-sm {
  padding: 1rem;
}

.margin-md {
  padding: 2rem;
}

.margin-lg {
  padding: 4rem;
}

.margin-xl {
  padding: 8rem;
}

.margin-xxl {
  padding: 16rem;
}

.margin-left-none {
  padding-left: 0;
}

.margin-left-xxs {
  padding-left: 0.25rem;
}

.margin-left-xs {
  padding-left: 0.5rem;
}

.margin-left-sm {
  padding-left: 1rem;
}

.margin-left-md {
  padding-left: 2rem;
}

.margin-left-lg {
  padding-left: 4rem;
}

.margin-left-xl {
  padding-left: 8rem;
}

.margin-left-xxl {
  padding-left: 16rem;
}

.margin-right-none {
  padding-right: 0;
}

.margin-right-xxs {
  padding-right: 0.25rem;
}

.margin-right-xs {
  padding-right: 0.5rem;
}

.margin-right-sm {
  padding-right: 1rem;
}

.margin-right-md {
  padding-right: 2rem;
}

.margin-right-lg {
  padding-right: 4rem;
}

.margin-right-xl {
  padding-right: 8rem;
}

.margin-right-xxl {
  padding-right: 16rem;
}

.margin-top-none {
  padding-top: 0;
}

.margin-top-xxs {
  padding-top: 0.25rem;
}

.margin-top-xs {
  padding-top: 0.5rem;
}

.margin-top-sm {
  padding-top: 1rem;
}

.margin-top-md {
  padding-top: 2rem;
}

.margin-top-lg {
  padding-top: 4rem;
}

.margin-top-xl {
  padding-top: 8rem;
}

.margin-top-xxl {
  padding-top: 16rem;
}

.margin-bottom-none {
  padding-bottom: 0;
}

.margin-bottom-xxs {
  padding-bottom: 0.25rem;
}

.margin-bottom-xs {
  padding-bottom: 0.5rem;
}

.margin-bottom-sm {
  padding-bottom: 1rem;
}

.margin-bottom-md {
  padding-bottom: 2rem;
}

.margin-bottom-lg {
  padding-bottom: 4rem;
}

.margin-bottom-xl {
  padding-bottom: 8rem;
}

.margin-bottom-xxl {
  padding-bottom: 16rem;
}

.padding {
  padding: 2rem;
}

.block-padding {
  padding-block: 2rem;
}

.inline-padding {
  padding-inline: 2rem;
}

.max-content {
  max-width: 40rem;
}

.background-image-cover {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.show-on-hover {
  visibility: hidden;
}
.show-on-hover :hover {
  visibility: visible;
}

#skiptomaincontent {
  position: absolute;
}
#skiptomaincontent:focus, #skiptomaincontent:active {
  position: initial;
  text-align: center;
  font-size: 2rem;
  background-color: #c0bdb8;
  color: #bbb;
  text-decoration: none;
}

.sticky-top {
  position: sticky;
  top: 2rem;
}

.jc-start, .flex-jc-start, .grid-jc-start {
  justify-content: start;
}

.jc-center, .flex-jc-center, .grid-jc-center {
  justify-content: center;
}

.jc-end, .flex-jc-end, .grid-jc-end {
  justify-content: end;
}

.jc-between, .flex-jc-between, .grid-jc-between {
  justify-content: space-between;
}

.jc-around, .flex-jc-around, .grid-jc-around {
  justify-content: space-around;
}

.jc-evenly, .flex-jc-evenly, .grid-jc-evenly {
  justify-content: space-evenly;
}

.jc-stretch, .flex-jc-stretch, .grid-jc-stretch {
  justify-content: stretch;
}

.ji-stretch, .flex-ji-stretch, .grid-ji-stretch {
  justify-items: stretch;
}

.ji-start, .flex-ji-start, .grid-ji-start {
  justify-items: start;
}

.ji-center, .flex-ji-center, .grid-ji-center {
  justify-items: center;
}

.ji-end, .flex-ji-end, .grid-ji-end {
  justify-items: end;
}

.ji-baseline, .flex-ji-baseline, .grid-ji-baseline {
  justify-items: baseline;
}

.js-auto, .flex-js-auto, .grid-js-auto {
  justify-items: auto;
}

.js-stretch, .flex-js-stretch, .grid-js-stretch {
  justify-items: stretch;
}

.js-start, .flex-js-start, .grid-js-start {
  justify-items: start;
}

.js-center, .flex-js-center, .grid-js-center {
  justify-items: center;
}

.js-end, .flex-js-end, .grid-js-end {
  justify-items: end;
}

.js-baseline, .flex-js-baseline, .grid-js-baseline {
  justify-items: baseline;
}

.cjs-auto > *, .flex-cjs-auto > *, .grid-cjs-auto > * {
  justify-items: auto;
}

.cjs-stretch > *, .flex-cjs-stretch > *, .grid-cjs-stretch > * {
  justify-items: stretch;
}

.cjs-start > *, .flex-cjs-start > *, .grid-cjs-start > * {
  justify-items: start;
}

.cjs-center > *, .flex-cjs-center > *, .grid-cjs-center > * {
  justify-items: center;
}

.cjs-end > *, .flex-cjs-end > *, .grid-cjs-end > * {
  justify-items: end;
}

.cjs-baseline > *, .flex-cjs-baseline > *, .grid-cjs-baseline > * {
  justify-items: baseline;
}

.ac-start, .flex-ac-start, .grid-ac-start {
  align-content: start;
}

.ac-center, .flex-ac-center, .grid-ac-center {
  align-content: center;
}

.ac-end, .flex-ac-end, .grid-ac-end {
  align-content: end;
}

.ac-baseline, .flex-ac-baseline, .grid-ac-baseline {
  align-content: baseline;
}

.ac-between, .flex-ac-between, .grid-ac-between {
  align-content: space-between;
}

.ac-around, .flex-ac-around, .grid-ac-around {
  align-content: space-around;
}

.ac-evenly, .flex-ac-evenly, .grid-ac-evenly {
  align-content: space-evenly;
}

.ac-stretch, .flex-ac-stretch, .grid-ac-stretch {
  align-content: stretch;
}

.ai-stretch, .flex-ai-stretch, .grid-ai-stretch {
  align-items: stretch;
}

.ai-start, .flex-ai-start, .grid-ai-start {
  align-items: start;
}

.ai-center, .flex-ai-center, .grid-ai-center {
  align-items: center;
}

.ai-end, .flex-ai-end, .grid-ai-end {
  align-items: end;
}

.ai-baseline, .flex-ai-baseline, .grid-ai-baseline {
  align-items: baseline;
}

.as-auto, .flex-as-auto, .grid-as-auto {
  align-items: auto;
}

.as-stretch, .flex-as-stretch, .grid-as-stretch {
  align-items: stretch;
}

.as-start, .flex-as-start, .grid-as-start {
  align-items: start;
}

.as-center, .flex-as-center, .grid-as-center {
  align-items: center;
}

.as-end, .flex-as-end, .grid-as-end {
  align-items: end;
}

.as-baseline, .flex-as-baseline, .grid-as-baseline {
  align-items: baseline;
}

.pc-start-start,
.flex-pc-start-start,
.grid-pc-start-start {
  place-content: start start;
}

.pc-start-center,
.flex-pc-start-center,
.grid-pc-start-center {
  place-content: start center;
}

.pc-start-end,
.flex-pc-start-end,
.grid-pc-start-end {
  place-content: start end;
}

.pc-start-between,
.flex-pc-start-between,
.grid-pc-start-between {
  place-content: start space-between;
}

.pc-start-around,
.flex-pc-start-around,
.grid-pc-start-around {
  place-content: start space-around;
}

.pc-start-evenly,
.flex-pc-start-evenly,
.grid-pc-start-evenly {
  place-content: start space-evenly;
}

.pc-start-stretch,
.flex-pc-start-stretch,
.grid-pc-start-stretch {
  place-content: start stretch;
}

.pc-center-start,
.flex-pc-center-start,
.grid-pc-center-start {
  place-content: center start;
}

.pc-center-center,
.flex-pc-center-center,
.grid-pc-center-center {
  place-content: center center;
}

.pc-center-end,
.flex-pc-center-end,
.grid-pc-center-end {
  place-content: center end;
}

.pc-center-between,
.flex-pc-center-between,
.grid-pc-center-between {
  place-content: center space-between;
}

.pc-center-around,
.flex-pc-center-around,
.grid-pc-center-around {
  place-content: center space-around;
}

.pc-center-evenly,
.flex-pc-center-evenly,
.grid-pc-center-evenly {
  place-content: center space-evenly;
}

.pc-center-stretch,
.flex-pc-center-stretch,
.grid-pc-center-stretch {
  place-content: center stretch;
}

.pc-end-start,
.flex-pc-end-start,
.grid-pc-end-start {
  place-content: end start;
}

.pc-end-center,
.flex-pc-end-center,
.grid-pc-end-center {
  place-content: end center;
}

.pc-end-end,
.flex-pc-end-end,
.grid-pc-end-end {
  place-content: end end;
}

.pc-end-between,
.flex-pc-end-between,
.grid-pc-end-between {
  place-content: end space-between;
}

.pc-end-around,
.flex-pc-end-around,
.grid-pc-end-around {
  place-content: end space-around;
}

.pc-end-evenly,
.flex-pc-end-evenly,
.grid-pc-end-evenly {
  place-content: end space-evenly;
}

.pc-end-stretch,
.flex-pc-end-stretch,
.grid-pc-end-stretch {
  place-content: end stretch;
}

.pc-baseline-start,
.flex-pc-baseline-start,
.grid-pc-baseline-start {
  place-content: baseline start;
}

.pc-baseline-center,
.flex-pc-baseline-center,
.grid-pc-baseline-center {
  place-content: baseline center;
}

.pc-baseline-end,
.flex-pc-baseline-end,
.grid-pc-baseline-end {
  place-content: baseline end;
}

.pc-baseline-between,
.flex-pc-baseline-between,
.grid-pc-baseline-between {
  place-content: baseline space-between;
}

.pc-baseline-around,
.flex-pc-baseline-around,
.grid-pc-baseline-around {
  place-content: baseline space-around;
}

.pc-baseline-evenly,
.flex-pc-baseline-evenly,
.grid-pc-baseline-evenly {
  place-content: baseline space-evenly;
}

.pc-baseline-stretch,
.flex-pc-baseline-stretch,
.grid-pc-baseline-stretch {
  place-content: baseline stretch;
}

.pc-between-start,
.flex-pc-between-start,
.grid-pc-between-start {
  place-content: space-between start;
}

.pc-between-center,
.flex-pc-between-center,
.grid-pc-between-center {
  place-content: space-between center;
}

.pc-between-end,
.flex-pc-between-end,
.grid-pc-between-end {
  place-content: space-between end;
}

.pc-between-between,
.flex-pc-between-between,
.grid-pc-between-between {
  place-content: space-between space-between;
}

.pc-between-around,
.flex-pc-between-around,
.grid-pc-between-around {
  place-content: space-between space-around;
}

.pc-between-evenly,
.flex-pc-between-evenly,
.grid-pc-between-evenly {
  place-content: space-between space-evenly;
}

.pc-between-stretch,
.flex-pc-between-stretch,
.grid-pc-between-stretch {
  place-content: space-between stretch;
}

.pc-around-start,
.flex-pc-around-start,
.grid-pc-around-start {
  place-content: space-around start;
}

.pc-around-center,
.flex-pc-around-center,
.grid-pc-around-center {
  place-content: space-around center;
}

.pc-around-end,
.flex-pc-around-end,
.grid-pc-around-end {
  place-content: space-around end;
}

.pc-around-between,
.flex-pc-around-between,
.grid-pc-around-between {
  place-content: space-around space-between;
}

.pc-around-around,
.flex-pc-around-around,
.grid-pc-around-around {
  place-content: space-around space-around;
}

.pc-around-evenly,
.flex-pc-around-evenly,
.grid-pc-around-evenly {
  place-content: space-around space-evenly;
}

.pc-around-stretch,
.flex-pc-around-stretch,
.grid-pc-around-stretch {
  place-content: space-around stretch;
}

.pc-evenly-start,
.flex-pc-evenly-start,
.grid-pc-evenly-start {
  place-content: space-evenly start;
}

.pc-evenly-center,
.flex-pc-evenly-center,
.grid-pc-evenly-center {
  place-content: space-evenly center;
}

.pc-evenly-end,
.flex-pc-evenly-end,
.grid-pc-evenly-end {
  place-content: space-evenly end;
}

.pc-evenly-between,
.flex-pc-evenly-between,
.grid-pc-evenly-between {
  place-content: space-evenly space-between;
}

.pc-evenly-around,
.flex-pc-evenly-around,
.grid-pc-evenly-around {
  place-content: space-evenly space-around;
}

.pc-evenly-evenly,
.flex-pc-evenly-evenly,
.grid-pc-evenly-evenly {
  place-content: space-evenly space-evenly;
}

.pc-evenly-stretch,
.flex-pc-evenly-stretch,
.grid-pc-evenly-stretch {
  place-content: space-evenly stretch;
}

.pc-stretch-start,
.flex-pc-stretch-start,
.grid-pc-stretch-start {
  place-content: stretch start;
}

.pc-stretch-center,
.flex-pc-stretch-center,
.grid-pc-stretch-center {
  place-content: stretch center;
}

.pc-stretch-end,
.flex-pc-stretch-end,
.grid-pc-stretch-end {
  place-content: stretch end;
}

.pc-stretch-between,
.flex-pc-stretch-between,
.grid-pc-stretch-between {
  place-content: stretch space-between;
}

.pc-stretch-around,
.flex-pc-stretch-around,
.grid-pc-stretch-around {
  place-content: stretch space-around;
}

.pc-stretch-evenly,
.flex-pc-stretch-evenly,
.grid-pc-stretch-evenly {
  place-content: stretch space-evenly;
}

.pc-stretch-stretch,
.flex-pc-stretch-stretch,
.grid-pc-stretch-stretch {
  place-content: stretch stretch;
}

.pi-stretch-stretch,
.flex-pi-stretch-stretch,
.grid-pi-stretch-stretch {
  place-items: stretch stretch;
}

.pi-stretch-start,
.flex-pi-stretch-start,
.grid-pi-stretch-start {
  place-items: stretch start;
}

.pi-stretch-center,
.flex-pi-stretch-center,
.grid-pi-stretch-center {
  place-items: stretch center;
}

.pi-stretch-end,
.flex-pi-stretch-end,
.grid-pi-stretch-end {
  place-items: stretch end;
}

.pi-stretch-baseline,
.flex-pi-stretch-baseline,
.grid-pi-stretch-baseline {
  place-items: stretch baseline;
}

.pi-start-stretch,
.flex-pi-start-stretch,
.grid-pi-start-stretch {
  place-items: start stretch;
}

.pi-start-start,
.flex-pi-start-start,
.grid-pi-start-start {
  place-items: start start;
}

.pi-start-center,
.flex-pi-start-center,
.grid-pi-start-center {
  place-items: start center;
}

.pi-start-end,
.flex-pi-start-end,
.grid-pi-start-end {
  place-items: start end;
}

.pi-start-baseline,
.flex-pi-start-baseline,
.grid-pi-start-baseline {
  place-items: start baseline;
}

.pi-center-stretch,
.flex-pi-center-stretch,
.grid-pi-center-stretch {
  place-items: center stretch;
}

.pi-center-start,
.flex-pi-center-start,
.grid-pi-center-start {
  place-items: center start;
}

.pi-center-center,
.flex-pi-center-center,
.grid-pi-center-center {
  place-items: center center;
}

.pi-center-end,
.flex-pi-center-end,
.grid-pi-center-end {
  place-items: center end;
}

.pi-center-baseline,
.flex-pi-center-baseline,
.grid-pi-center-baseline {
  place-items: center baseline;
}

.pi-end-stretch,
.flex-pi-end-stretch,
.grid-pi-end-stretch {
  place-items: end stretch;
}

.pi-end-start,
.flex-pi-end-start,
.grid-pi-end-start {
  place-items: end start;
}

.pi-end-center,
.flex-pi-end-center,
.grid-pi-end-center {
  place-items: end center;
}

.pi-end-end,
.flex-pi-end-end,
.grid-pi-end-end {
  place-items: end end;
}

.pi-end-baseline,
.flex-pi-end-baseline,
.grid-pi-end-baseline {
  place-items: end baseline;
}

.pi-baseline-stretch,
.flex-pi-baseline-stretch,
.grid-pi-baseline-stretch {
  place-items: baseline stretch;
}

.pi-baseline-start,
.flex-pi-baseline-start,
.grid-pi-baseline-start {
  place-items: baseline start;
}

.pi-baseline-center,
.flex-pi-baseline-center,
.grid-pi-baseline-center {
  place-items: baseline center;
}

.pi-baseline-end,
.flex-pi-baseline-end,
.grid-pi-baseline-end {
  place-items: baseline end;
}

.pi-baseline-baseline,
.flex-pi-baseline-baseline,
.grid-pi-baseline-baseline {
  place-items: baseline baseline;
}

.ps-auto-auto,
.flex-ps-auto-auto,
.grid-ps-auto-auto {
  place-self: auto auto;
}

.ps-auto-stretch,
.flex-ps-auto-stretch,
.grid-ps-auto-stretch {
  place-self: auto stretch;
}

.ps-auto-start,
.flex-ps-auto-start,
.grid-ps-auto-start {
  place-self: auto start;
}

.ps-auto-center,
.flex-ps-auto-center,
.grid-ps-auto-center {
  place-self: auto center;
}

.ps-auto-end,
.flex-ps-auto-end,
.grid-ps-auto-end {
  place-self: auto end;
}

.ps-auto-baseline,
.flex-ps-auto-baseline,
.grid-ps-auto-baseline {
  place-self: auto baseline;
}

.ps-stretch-auto,
.flex-ps-stretch-auto,
.grid-ps-stretch-auto {
  place-self: stretch auto;
}

.ps-stretch-stretch,
.flex-ps-stretch-stretch,
.grid-ps-stretch-stretch {
  place-self: stretch stretch;
}

.ps-stretch-start,
.flex-ps-stretch-start,
.grid-ps-stretch-start {
  place-self: stretch start;
}

.ps-stretch-center,
.flex-ps-stretch-center,
.grid-ps-stretch-center {
  place-self: stretch center;
}

.ps-stretch-end,
.flex-ps-stretch-end,
.grid-ps-stretch-end {
  place-self: stretch end;
}

.ps-stretch-baseline,
.flex-ps-stretch-baseline,
.grid-ps-stretch-baseline {
  place-self: stretch baseline;
}

.ps-start-auto,
.flex-ps-start-auto,
.grid-ps-start-auto {
  place-self: start auto;
}

.ps-start-stretch,
.flex-ps-start-stretch,
.grid-ps-start-stretch {
  place-self: start stretch;
}

.ps-start-start,
.flex-ps-start-start,
.grid-ps-start-start {
  place-self: start start;
}

.ps-start-center,
.flex-ps-start-center,
.grid-ps-start-center {
  place-self: start center;
}

.ps-start-end,
.flex-ps-start-end,
.grid-ps-start-end {
  place-self: start end;
}

.ps-start-baseline,
.flex-ps-start-baseline,
.grid-ps-start-baseline {
  place-self: start baseline;
}

.ps-center-auto,
.flex-ps-center-auto,
.grid-ps-center-auto {
  place-self: center auto;
}

.ps-center-stretch,
.flex-ps-center-stretch,
.grid-ps-center-stretch {
  place-self: center stretch;
}

.ps-center-start,
.flex-ps-center-start,
.grid-ps-center-start {
  place-self: center start;
}

.ps-center-center,
.flex-ps-center-center,
.grid-ps-center-center {
  place-self: center center;
}

.ps-center-end,
.flex-ps-center-end,
.grid-ps-center-end {
  place-self: center end;
}

.ps-center-baseline,
.flex-ps-center-baseline,
.grid-ps-center-baseline {
  place-self: center baseline;
}

.ps-end-auto,
.flex-ps-end-auto,
.grid-ps-end-auto {
  place-self: end auto;
}

.ps-end-stretch,
.flex-ps-end-stretch,
.grid-ps-end-stretch {
  place-self: end stretch;
}

.ps-end-start,
.flex-ps-end-start,
.grid-ps-end-start {
  place-self: end start;
}

.ps-end-center,
.flex-ps-end-center,
.grid-ps-end-center {
  place-self: end center;
}

.ps-end-end,
.flex-ps-end-end,
.grid-ps-end-end {
  place-self: end end;
}

.ps-end-baseline,
.flex-ps-end-baseline,
.grid-ps-end-baseline {
  place-self: end baseline;
}

.ps-baseline-auto,
.flex-ps-baseline-auto,
.grid-ps-baseline-auto {
  place-self: baseline auto;
}

.ps-baseline-stretch,
.flex-ps-baseline-stretch,
.grid-ps-baseline-stretch {
  place-self: baseline stretch;
}

.ps-baseline-start,
.flex-ps-baseline-start,
.grid-ps-baseline-start {
  place-self: baseline start;
}

.ps-baseline-center,
.flex-ps-baseline-center,
.grid-ps-baseline-center {
  place-self: baseline center;
}

.ps-baseline-end,
.flex-ps-baseline-end,
.grid-ps-baseline-end {
  place-self: baseline end;
}

.ps-baseline-baseline,
.flex-ps-baseline-baseline,
.grid-ps-baseline-baseline {
  place-self: baseline baseline;
}

.cps-auto-auto > *,
.flex-cps-auto-auto > *,
.grid-cps-auto-auto > * {
  place-self: auto auto;
}

.cps-auto-stretch > *,
.flex-cps-auto-stretch > *,
.grid-cps-auto-stretch > * {
  place-self: auto stretch;
}

.cps-auto-start > *,
.flex-cps-auto-start > *,
.grid-cps-auto-start > * {
  place-self: auto start;
}

.cps-auto-center > *,
.flex-cps-auto-center > *,
.grid-cps-auto-center > * {
  place-self: auto center;
}

.cps-auto-end > *,
.flex-cps-auto-end > *,
.grid-cps-auto-end > * {
  place-self: auto end;
}

.cps-auto-baseline > *,
.flex-cps-auto-baseline > *,
.grid-cps-auto-baseline > * {
  place-self: auto baseline;
}

.cps-stretch-auto > *,
.flex-cps-stretch-auto > *,
.grid-cps-stretch-auto > * {
  place-self: stretch auto;
}

.cps-stretch-stretch > *,
.flex-cps-stretch-stretch > *,
.grid-cps-stretch-stretch > * {
  place-self: stretch stretch;
}

.cps-stretch-start > *,
.flex-cps-stretch-start > *,
.grid-cps-stretch-start > * {
  place-self: stretch start;
}

.cps-stretch-center > *,
.flex-cps-stretch-center > *,
.grid-cps-stretch-center > * {
  place-self: stretch center;
}

.cps-stretch-end > *,
.flex-cps-stretch-end > *,
.grid-cps-stretch-end > * {
  place-self: stretch end;
}

.cps-stretch-baseline > *,
.flex-cps-stretch-baseline > *,
.grid-cps-stretch-baseline > * {
  place-self: stretch baseline;
}

.cps-start-auto > *,
.flex-cps-start-auto > *,
.grid-cps-start-auto > * {
  place-self: start auto;
}

.cps-start-stretch > *,
.flex-cps-start-stretch > *,
.grid-cps-start-stretch > * {
  place-self: start stretch;
}

.cps-start-start > *,
.flex-cps-start-start > *,
.grid-cps-start-start > * {
  place-self: start start;
}

.cps-start-center > *,
.flex-cps-start-center > *,
.grid-cps-start-center > * {
  place-self: start center;
}

.cps-start-end > *,
.flex-cps-start-end > *,
.grid-cps-start-end > * {
  place-self: start end;
}

.cps-start-baseline > *,
.flex-cps-start-baseline > *,
.grid-cps-start-baseline > * {
  place-self: start baseline;
}

.cps-center-auto > *,
.flex-cps-center-auto > *,
.grid-cps-center-auto > * {
  place-self: center auto;
}

.cps-center-stretch > *,
.flex-cps-center-stretch > *,
.grid-cps-center-stretch > * {
  place-self: center stretch;
}

.cps-center-start > *,
.flex-cps-center-start > *,
.grid-cps-center-start > * {
  place-self: center start;
}

.cps-center-center > *,
.flex-cps-center-center > *,
.grid-cps-center-center > * {
  place-self: center center;
}

.cps-center-end > *,
.flex-cps-center-end > *,
.grid-cps-center-end > * {
  place-self: center end;
}

.cps-center-baseline > *,
.flex-cps-center-baseline > *,
.grid-cps-center-baseline > * {
  place-self: center baseline;
}

.cps-end-auto > *,
.flex-cps-end-auto > *,
.grid-cps-end-auto > * {
  place-self: end auto;
}

.cps-end-stretch > *,
.flex-cps-end-stretch > *,
.grid-cps-end-stretch > * {
  place-self: end stretch;
}

.cps-end-start > *,
.flex-cps-end-start > *,
.grid-cps-end-start > * {
  place-self: end start;
}

.cps-end-center > *,
.flex-cps-end-center > *,
.grid-cps-end-center > * {
  place-self: end center;
}

.cps-end-end > *,
.flex-cps-end-end > *,
.grid-cps-end-end > * {
  place-self: end end;
}

.cps-end-baseline > *,
.flex-cps-end-baseline > *,
.grid-cps-end-baseline > * {
  place-self: end baseline;
}

.cps-baseline-auto > *,
.flex-cps-baseline-auto > *,
.grid-cps-baseline-auto > * {
  place-self: baseline auto;
}

.cps-baseline-stretch > *,
.flex-cps-baseline-stretch > *,
.grid-cps-baseline-stretch > * {
  place-self: baseline stretch;
}

.cps-baseline-start > *,
.flex-cps-baseline-start > *,
.grid-cps-baseline-start > * {
  place-self: baseline start;
}

.cps-baseline-center > *,
.flex-cps-baseline-center > *,
.grid-cps-baseline-center > * {
  place-self: baseline center;
}

.cps-baseline-end > *,
.flex-cps-baseline-end > *,
.grid-cps-baseline-end > * {
  place-self: baseline end;
}

.cps-baseline-baseline > *,
.flex-cps-baseline-baseline > *,
.grid-cps-baseline-baseline > * {
  place-self: baseline baseline;
}

[class*=grid] {
  display: grid;
}

.gap, .grid-gap, .flex-gap {
  gap: 2rem;
}

.grid-even-columns {
  grid-template-columns: repeat(auto-fit, minmax(min(100%, 10rem), 1fr));
}

.grid-auto-columns {
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
}

.grid-stack {
  grid-template-areas: "stack";
}
.grid-stack > * {
  grid-area: stack;
}

[class*=flex] {
  display: flex;
}

.flex-columns {
  flex-wrap: wrap;
}
.flex-columns > * {
  flex: 1 0 calc((10rem - 100%) * 999);
}

.card {
  padding: 1rem;
  border-radius: 8px;
  border: 2px solid #b6cdf5;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1882352941);
}

.golden-grid {
  height: 100vh;
  display: grid;
  grid-template-columns: 0.618fr 1fr;
}
.golden-grid > div {
  background-color: #e2a030;
  flex-grow: 1;
}
.golden-grid :nth-child(2) {
  background-color: #e8b55d;
}

body {
  scroll-behavior: smooth;
}

body > header > site-nav {
  height: 100%;
  background-color: #fbf2e3;
  padding: 2rem;
  font-size: 150%;
}

nav a,
nav a:hover,
nav a:focus,
nav a:active {
  text-decoration: underline;
  color: inherit;
}

body > main > :not(header) {
  padding-block: 2rem;
}

body > main > header {
  padding-inline: 2rem;
}

main > article:not(.no-padding) {
  margin-block: 2rem;
}

article:not(.no-padding) > section {
  margin-block: 2rem;
  padding: 2rem;
}

main > header {
  position: sticky;
  top: 0;
  font-size: 125%;
}

section > header {
  font-size: 150%;
  padding-bottom: 2rem;
}

section > details {
  margin-block: 2rem;
}
section > details > summary {
  padding: 1rem;
  background-color: #f0efee;
  font-size: 1.5rem;
}

details > details > summary {
  padding: 1rem;
  font-size: 1.25rem;
}

.hero-image {
  position: relative;
  /* dark theme */
}
.hero-image.shell {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/golden-shell.jpg");
}
.hero-image.sunflower {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/sunflower.jpg");
}
.hero-image.field {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/field.jpg");
}
.hero-image.buildings {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/buildings.jpg");
}
.hero-image.grass {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/grass.jpg");
}
.hero-image.leaves {
  background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)), url("../images/leaves.jpg");
}
.hero-image .hero-text {
  padding-inline: 2rem;
  font-size: 200%;
}

.scroll-down-indicator {
  font-family: sans-serif;
  font-size: medium;
}
.scroll-down-indicator::before {
  animation: fade-in-out 3.7s ease infinite;
  width: fit-content;
  transform: translate(-50%, -50%);
  content: "SCROLL";
  position: absolute;
}
.scroll-down-indicator::after {
  animation: bounce 2s ease infinite 1s, fade-in-out 6.3s ease infinite;
  content: "v";
  text-align: center;
  position: absolute;
}

@keyframes fade-in-out {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes bounce {
  80% {
    transform: translateY(50%);
  }
}
#home .hero-text h1, #home .hero-text p {
  opacity: 0;
  animation: fade-in 3s ease-out forwards, drop-in 5s ease-out forwards;
}
#home .hero-text p {
  animation-delay: 2s;
}
#home .hero-text div {
  opacity: 0;
  animation: fade-in 3s ease-out forwards;
  animation-delay: 5s;
}

@keyframes drop-in {
  0% {
    transform: translateY(-100vh);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/*# sourceMappingURL=main.css.map */
